@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.outer-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin-top: 5rem;
}

.container-form{
    margin-top: 4rem;
    width: 30rem;
    background-color: rgb(255, 255, 255, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    padding: 1rem;
}

.container-view{
    width: 80rem;
    background-color: rgb(255, 255, 255, .8);
    margin-top: 1rem;
    padding: 1.5rem;
}

#datosUsuarios{
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

#datosUsuarios th{
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #333;
    text-align: center;

}

#datosUsuarios tr{
    cursor: pointer;
    text-align: left;
}

#datosUsuarios td{
    padding: 1rem;
    font-size: 1.125rem;
    border: 1px solid #333;
    font-weight: bolder;
    
}