
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}


.outer-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 30%;
  height: 40%;
  background-color: rgb(243, 237, 237);
  border-radius: 15px;
  box-shadow: 0 0 1.5rem #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h3{
  font-size: 2rem;
  justify-self: flex-start;
  margin-bottom: 1rem;
}

#form-login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-style{
  width: 17rem;
  font-size: 1rem;
  padding: .5rem 1rem;
  border-radius: 15px;
  border: .120rem solid rgba(51, 51, 51, .8);
  margin-bottom: 1rem;
}

.btn{
  width: 8.5rem;
  padding: .5rem .8rem;
  color: #333;
  font-size: 1rem;
  border-radius: 15px;
  border:none;
  cursor: pointer;
  background-color: white;
  border: 1.5px solid rgba(51, 51, 51, 0.521);
  margin: 0 .3rem;
}

.box-btn{
  display: flex;
}

.submit:hover{
  background-color: rgb(83, 80, 80);
  color: white;
}

.newUser{
  background-color: rgb(83, 80, 80);
  color: white;
}

.newUser:hover{
  background-color:  #7dc6d3c7;
  color:#333;
}

#forgot-passwd{
  color: #333;
  margin-top: .5rem;
  font-size: .8rem;
  margin-top: 1rem;
}